*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

#sfondo-verde{
    height: 100px;
    background-color: #009688;
}

#sfondo-grigio{
    height: calc(100vh - 100px);
    background-color: #DADBD4;
}

#app{
    width: 80%;
    margin: auto;
    position: absolute;
    top: 50px;
    left: 50px;
    right: 50px;
    display: flex;
}

h3{
    font-size: 15px;
}

#col-sinistra{
    min-width: 450px;
    height: 100%;
    background-color: white;
}

#col-destra{
    width: 70%;
    height: 100%;
    background-color: salmon;
}

header,#contatti{
    width: 100%;
    min-height: 70px;
    background-color: #EAEAEA;
    display: flex;
    align-items: center;
    padding: 10px;
}

img{
    width: 50px;
    border-radius: 50%;
}

.icons{
    width: 60%;
}

.icons i{
    float: right;
    margin: 10px;
    color: #B1B1B1;
}

#notifiche{
    min-height: 70px;
    background-color: #8EDAFC;
    display: flex;
    align-items: center;
    padding: 10px;
}

#notifiche #icon i{
    font-size: 30px;
    background-color: white;
    color: #8EDAFC;
    padding: 10px;
    border-radius: 50%;
}

#notifiche #testo{
    margin-left: 20px;
}

#notifiche #testo p{
    text-decoration: underline;
    color: gray;
}

#container-cerca{
    height: 50px;
    background-color: #EAEAEA;
    padding: 10px;
}

#cerca{
    background-color: white;
}

main #container-cerca #cerca input{
    width: 70%;
    height: 30px;
    border: none;
}

main #container-cerca #cerca i{
    font-size: 20px;
    padding: 5px 10px;
    color: gray;
}

#col-sinistra .container{
    height: calc(100vh - 290px);
    overflow-y: scroll;
}

#contatti{
    cursor: pointer;
    background-color: white;
    border-bottom: 1px solid lightgray;
}

#contatti:hover{
    background-color: lightgray;
}

#col-destra header{
    border-left: 1px solid lightgray;
}

.contatto{
    margin-left: 10px;
    width: 50%;
}

#contatti h3{
    margin-left: 10px;
}

#col-destra .icons{
    width: 90%;
}

.contatto p{
    font-size: 13px;
    color: gray;
}

#col-destra main{
    width: 100%;
    height: calc(100vh - 250px);
    background-image: url(../img/mine.jpg);
    overflow-y: scroll;
}

.messaggio{
    min-height: 60px;
    background-color: #F3EEEA;
    line-height: 60px;
    padding: 10px;
    text-align: center;
}

.messaggio i{
    font-size: 30px;
    color: gray;

}

.messaggio input{
    width: 80%;
    height: 50px;
    border-radius: 15px;
    margin-right: 15px;
    margin-left: 15px;
}

#col-destra main .container{
    margin: 20px;
}

.box{
    max-width: 50%;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
}

#verde{
    background-color: rgb(19, 233, 19);
    margin-left: 50%;
}

#bianco{
    background-color: white;
}

.box .date{
    font-size: 13px;
    text-align: end;
    color: gray;
}









































