<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <title>boolzapp</title>
</head>
<body>

    <div id="sfondo-verde"></div>
    <div id="sfondo-grigio"></div>

    <div id="app">
        <div id="col-sinistra">
            <header>
                <img src="img/avatar_io.jpg" alt="avatar_io">
                <h3>Nome Utente</h3>
                <div class="icons">
                  <i class="fas fa-ellipsis-v"></i>
                  <i class="fas fa-comment-alt"></i>
                  <i class="fas fa-circle-notch"></i>
                </div>
            </header>
            <div id="notifiche">
                <div id="icon">
                    <i class="far fa-bell-slash"></i>
                </div>
                <div id="testo">
                    <h3>Ricevi notifiche di nuovi messaggi</h3>
                    <p>Attiva notifiche desktop</p>
                </div>
            </div>
            <main>
                <div id="container-cerca">
                    <div id="cerca">
                        <i class="fas fa-search"></i>
                        <input type="text" placeholder="Cerca o inizia una nuova chat">
                    </div>
                </div>
                <div class="container">
                    <div id="contatti" v-for="(items,index) in contacts" @click="selezionaUtente(index)">
                        <img :src="items.avatar" alt="avatar">
                        <h3>{{items.name}}</h3>
                    </div>
                </div>
            </main>
        </div>
        <div id="col-destra">
            <header>
                <img :src="contacts[indice].avatar" alt="avatar">
                <div class="contatto">
                    <h3>{{contacts[indice].name}}</h3>
                    <p>Ultimo accesso oggi alle</p>
                </div>
                <div class="icons">
                  <i class="fas fa-ellipsis-v"></i>
                  <i class="fas fa-paperclip"></i>
                  <i class="fas fa-search"></i>
                </div>
            </header>
            <main>
                <div class="container" v-for="message in contacts[indice].messages">
                    <div class="box" v-if="message.status == 'sent' " id="verde">
                        <p>{{message.text}}</p>
                        <p class="date">{{message.date}}</p>
                    </div>
                    <div class="box" v-if="message.status == 'received' " id="bianco">
                        <p>{{message.text}}</p>
                        <p class="date">{{message.date}}</p>
                    </div>
                </div>
            </main>
            <div class="messaggio">
                <i class="far fa-smile"></i>
                <input type="text" placeholder="Scrivi un messaggio" v-model="messaggio" @keyup.enter="aggiuntaMessaggio">
                <i class="fas fa-microphone"></i>
            </div>
        </div>
    </div>
    
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script src="js/script.js"></script>
</body>
</html>